<h1>Booking</h1>
<p>Rent start date:
<%= @booking.rent_start_date %>
</p>

<p>Rent end date:
<%=@booking.rent_end_date  %>
</p>
<p>
<h2>Item</h2>
<p>Brand:
<%= @item.brand  %>
</p>
<p>Description:
<%= @item.description %>
</p>
<hr>
<%= link_to "Back to shop", items_path, class: "btn btn-primary" %>
<hr>
<%= link_to "Delete booking", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure want to delete this?"}, class: "btn btn_primary"  %>
<hr>
<%= link_to "Back to bookings", bookings_path, class: "btn btn-primary" %>
