<h1>Profile</h1>
<p>First name: <%= current_user.first_name %></p>
<p>Last name: <%= current_user.last_name %></p>
<p>Email:  <%= current_user.email %>
<%= link_to "Edit account", edit_user_registration_path, class:"btn btn-primary" %>
<h2>Items</h2>
<hr>
<%= link_to "Add item", new_item_path, class: "btn btn-primary" %>
<hr>
<%@items.each do |item|  %>
<%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
<ul>
<li>
Brand: <%= item.brand %>
</li>
<li>
desciprtion: <%= item.description %>
</li>
<li>
<%= link_to "Edit", edit_item_path(item), class: "btn btn-primary" %>
</li>
<li>
<%= link_to "Delete", item_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure want to delete this?"}, class: "btn btn-primary"  %>
</li>
<li>
<%= link_to "view", item_path(item), class: "btn btn-primary"  %>
</li>
</ul>
<% end %>
<h2><%= link_to "Bookings", bookings_path, class: "btn btn-primary" %></h2>
