<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: items_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<section class="items-index">
  <div class="container">
    <h2>Shop</h2>
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4">
          <div class="item-card">
            <%= link_to item_path(item) do %>
              <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
              <h3><%= item.brand %></h3>
              <p><%= item.description %></p>
              <p><%= item.price_per_day %>€ Per day</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
