<section class="item-new">
  <div class="container">
    <h2 class="text-center mb-4">Add New Item</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= simple_form_for @item do |f| %>
          <%= f.input :photo, as: :file %>
          <%= f.input :brand %>
          <%= f.input :size %>
          <%= f.input :color %>
          <%= f.input :price_per_day %>
          <%= f.input :garment_type, collection: %w[Coats Denim Dresses Jackets Polo\ shirts Shirts Shorts Skirts Skiwear Suits Sweaters/knitwear Tops Trousers] %>
          <%= f.input :description %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>