<div class="container py-5 my-5">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Book now</h2>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <%= cl_image_tag @item.photo.key, class: "img-fluid mb-4", crop: :fill %>
          <h1 class="mb-4"><%= @item.brand %></h1>
          <p class="lead"><%= @item.description %></p>
          <p class="h3 mb-4"><%= @item.price_per_day %>€ Per day</p>
          <div class="booking-form">
              <% if user_signed_in? && !(@item.user_id == current_user.id)  %>
          <%= render "bookings/formbooking", item: @item, booking: @booking %>
          <% elsif user_signed_in? && (@item.user_id == current_user.id) %>
        <h2>Your item</h2>
          <% else %>
        <h2>Sign in to book this item</h2>
        <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <%= link_to "Back to shop", items_path, class: "btn btn-secondary" %>
    </div>
  </div>



